//import all of my css variables
@import '_vars';

//import media queries
@import '_mediaqueries';

//----------------------------------General

body {
    background-color: $grey;
}

h3, p, a {
    font-family: $main-font;
    color: $white;
}

.hidden {
	display: none;
}