
<p>GoPro Hero 7</p>
{{#allProducts}}
<a href="/gopro/{{id}}">
    <ul>
        <li><img src="{{image}}"></li>
        <li><h2>{{name}}</h2></li>
        <li><p>{{price}}</p></li>
    </ul>
</a>
{{/allProducts}}
