
<section id="landing">
    <div id="menu">
        <a href="/">Home</a>
        <a href="{{allGoproLink}}">Hero 7</a>
    </div>
    <div id="mainGreeting">
        <img src="../images/gopro_logo.svg" alt="gopro">
        {{!-- <h2>{{welcomeMessage}}</h2> --}}
        <button id="greetingBtn"><a href="{{allGoproLink}}">Explore the new Hero 7</a></button>
    </div>
</section>
