<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Muli:300" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
